/*### Primary###*/

:root{


--Purple: hsl(259, 100%, 65%);
--Light-red: hsl(0, 100%, 67%);

/*### Neutral ###*/

--White: hsl(0, 0%, 100%);
--Off-white: hsl(0, 0%, 94%);
--Light-grey: hsl(0, 0%, 86%);
--Smokey-grey: hsl(0, 1%, 44%);
--Off-black: hsl(0, 0%, 8%);

--input-font-size: 32px;
--font-family: Poppins;
}

body{
font-family: var(--font-family);

}

.main-container{
    max-width: 92%;
    border-radius: 20px 20px 60px 20px;
}

.inputs-bx input{
    border: 1px solid rgba(128, 128, 128, 0.123);
}
.inputs-bx input:hover{
    border: 1px solid rgba(128, 128, 128, 0.651);
}
.inputs-bx label{
    color: gray;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 300;
    letter-spacing: 2px;
}

form button:active{
    background-color: var(--Off-black);
}
main{
    font-size: 2.75rem;
    font-weight: 800;

}


@media (min-width: 768px) {
    main{
        font-size: 3.5rem;
        line-height: 1;
    }
    .main-container{
        width: 60%;
        max-width: 70%;
        height: 70%;
        border-radius: 20px 20px 15rem 20px;
    }
    .inputs-bx label{
        font-size: 1rem;

    }
    .inputs-bx input{
        font-size: 2rem;
    }
}